<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="../javascript/stylesFunctionality.js"></script>
		<script src="../../controller/controller.js"></script>
	</head>

	<body onload="getAllTitles()">
		<div class="header">	
			<a><img src="../assets/logo3.png"></a>		
			<span class="header_title"> Open Library</span>	
		</div>
		<div class="selection_border">
			<span class="selection-title"> Αναζήτηση βιβλίου</span>
			<div class="selections">
				<div>
					<p>1.Επιλέξτε τρόπο αναζήτησης:</p>
					<select id="search-selection" class="search-selection" onchange=" onSearchOptionChange()">
						<option value="title" selected="selected">Αναζήτηση με βάση τίτλο</option>
						<option value="keyword">Αναζήτηση με βάση λέξη κλειδί</option>
					</select>
				</div>	
				<div id="TitleSelection">
					<p>2.Επιλέξτε βιβλία με βάση τον τίτλο:</p>
					<select method="post" id="selectbytitle" class="selectbytitle"  onchange="getBookByTitle()" > 
						<option value="default" selected="selected"></option>
					</select>
				</div>
				<div id="formForKeyword"class="formForKeyword">
					<p>2.Εισάγετε μια λέξη κλειδί:</p>	
					<form>
						<input method="post" type="text" placeholder="Εισάγετε μια λέξη κλειδί" onkeyup="getBookByKeyword(this.value)" required> </input>
					</form>
				</div>		
			</div>
		</div>
		<div id="books" class="books"></div>
	</body>
</html>